/* Button */
.btn {
    min-width: 140px;
    @apply rounded border text-sm whitespace-no-wrap text-black bg-gray-300 border border-gray-300 py-2 px-4;

    &:disabled {
        @apply opacity-65;
    }

    &:disabled:hover,
    &:disabled:focus,
    &:disabled:active {
        @apply text-black bg-gray-300 border-gray-300;
    }
    
    &.outline {
        @apply border bg-transparent border-ampjar_border text-black;
    
        &:hover,
        &:focus,
        &:active {
            @apply bg-gray-900 border-gray-900 text-white;
        }

        &:disabled:hover,
        &:disabled:focus,
        &:disabled:active {
            @apply bg-transparent border-ampjar_border text-black;
        }
    }
    
    &.primary {
        @apply bg-ampjar_primary border-ampjar_primary text-white;
    
        &.outline {
            @apply bg-transparent text-ampjar_primary border-ampjar_primary;

            &:disabled:hover,
            &:disabled:focus,
            &:disabled:active {
                @apply bg-transparent text-ampjar_primary border-ampjar_primary;
            }
        }
    
        &:hover,
        &:focus,
        &:active {
            @apply bg-blue-800 border-blue-800 text-white;
        }

        &:disabled:hover,
        &:disabled:focus,
        &:disabled:active {
            @apply bg-ampjar_primary border-ampjar_primary text-white;
        }
    }
}

.btn-group {
    label {
        cursor: pointer;
    }
    
    [type=radio] {
        position: absolute;
        clip: rect(0,0,0,0);
        pointer-events: none;

        &:checked + .card-highlight {
            @apply bg-gray-300;
        }
    }
}