/* input checkbox btn */

.checkbox-button {
    @apply relative flex font-normal;
    font-size: inherit;
    
    .btn {
        @apply flex items-center justify-center min-w-full;
        font-size: inherit;

        &.wrapped {
            @apply whitespace-normal;
        }

        &:hover {
            background-color: theme('colors.ampjar_primary')ba;
            border-color: theme('colors.ampjar_primary');
        }
    }

    [type=checkbox] {
        @apply absolute opacity-0;

        &:checked:focus ~ .btn,
        &:checked ~ .btn {
            @apply bg-ampjar_primary border-ampjar_primary text-white;
        }

        &:focus ~ .btn {
            @apply bg-transparent border-ampjar_border text-black;
        }
    }

}