/* Forms */

input:not([type=checkbox]):not([type=radio]):not([type=range]),
select,
textarea {
    @apply appearance-none block text-sm text-gray-700 border border-ampjar_border rounded py-3 px-4 leading-tight;

    &:not(.w-auto) {
        @apply w-full;
    }

    &:not([class*="bg-"]) {
        @apply bg-white; 
    }
    
    &:focus {
        @apply outline-none bg-gray-100 border-gray-500;
    }
}

/* [type=range] */
/* $input-range-bg: $color-white;
$input-range-slider-thumb: $color-navy;
$input-range-runnable-track-bg: $input-range-slider-thumb; */
/* chrome */

.js-range input[type=range]::-webkit-slider-runnable-track {
    --gradval: calc(var(--current-val) / var(--levels) * 100%);
    background: linear-gradient(to right, theme('colors.ampjar_primary') 0%, theme('colors.ampjar_primary') var(--gradval), theme('colors.gray.300') var(--gradval), theme('colors.gray.300') 100%);
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type=range] {
        -webkit-appearance: none;
    }
    
    input[type=range]::-webkit-slider-runnable-track {
        height: 4px;
        background: theme('colors.gray.300');
        -webkit-appearance: none;
    }
    
    input[type=range]::-webkit-slider-thumb {
        width: 16px;
        height: 16px;
        border: 3px solid theme('colors.ampjar_primary');
        background: theme('colors.white');
        border-radius: 50%;
        margin-top: -6px;
        -webkit-appearance: none;
        position: relative;

        &:before {
            content: '';
            width: 5px;
            height: 5px;
            background: red;
        }
    }
}

input[type=range] {
    @apply w-full h-10 bg-transparent;

    /* ff */
    &::-moz-range-progress {
        background-color: theme('colors.ampjar_primary'); 
    }
    &::-moz-range-track {  
        background-color: theme('colors.white');
    }
    /* ie */
    &::-ms-fill-lower {
        background-color: theme('colors.ampjar_primary'); 
    }
    &::-ms-fill-upper {  
        background-color: theme('colors.white');
    }

    &::-ms-thumb {
        margin-top:0px !important;
        height:14px;
        width:14px;
    }
    &::-ms-tooltip {
        display: none;
    }
}

/* input type=range : NoUISlider */

.input-range-multi {

    &.noUi-horizontal {
        height: auto;

        .noUi-base {
            height: 4px;
            margin: 18px 0;
            background-color: theme('colors.gray.300');
        }

        .noUi-handle {
            width: 16px;
            height: 16px;
            right: -8px;
            top: -6px;
        }
    }

    &.noUi-target {
        background-color: transparent;
        border-radius: 0px;
        border: none;
        box-shadow: none;
    }

    .noUi-connect {
        background: theme('colors.ampjar_primary');
    }

    .noUi-handle {
        border: 3px solid theme('colors.ampjar_primary');
        background: theme('colors.white');
        @apply rounded-full;
        cursor: default;
        box-shadow: none;
        
        &:after,
        &:before {
            content: none;
        }
        
    }
}


/* input type checkbox */

.checkbox-custom {
    @apply relative block mb-3;
    min-height: 1.5rem;
    padding-left: 1.5rem;

    [type=checkbox]{
        /* z-index: -1; */
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        width: 1rem;
        height: 1.25rem;
        overflow: visible;

        
        & ~ .checkbox-label {
            @apply text-sm font-normal mb-0 relative inline-block; 
        }

        & ~ .checkbox-label:before,
        & ~ .checkbox-label:after {
            position: absolute;
            top: .1rem;
            left: -1.5rem;
            display: block;
            width: 1rem;
            height: 1rem;
            pointer-events: none;
            content: "";
        }
        
        & ~ .checkbox-label:before {
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            @apply bg-white border border-gray-500 rounded;
        }

        & ~ .checkbox-label:after {
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 50% 50%;
        }


        &:checked {

            & ~ .checkbox-label:before {
                @apply bg-ampjar_primary border-ampjar_primary;
            }
            
            & ~ .checkbox-label:after {
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http:/*www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
            }
        }
        
        
        &:focus {
            & ~ .checkbox-label:before {
                box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0,123,255,.25);
            }
        }
    }
}

/* input type file */

.file-custom {
    position: relative;
    display: inline-block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    overflow: hidden;
    margin-bottom: 0;
}

.file-custom-input {
    position: relative;
    z-index: 2;
    width: 100%;
    /* height: calc(1.5em + .75rem + 2px); */
    margin: 0;
    opacity: 0;
}

.file-custom-label {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    padding: .375rem .75rem;
    font-weight: 400;
    border: 1px solid theme('colors.ampjar_border');
    border-radius: .25rem;
    padding-left: 5.75rem;
}

.file-custom-input:lang(en)~.file-custom-label::after {
    content: "Browse";
}

.file-custom-label::after {
    z-index: 3;
    height: calc(1.5em + .75rem);
    padding: .375rem .75rem;
    line-height: 1.5;
    color: #495057;
    content: "Browse";
    background-color: theme('colors.gray.300');
    border-right: inherit;
    @apply rounded inset-y-0 left-0 absolute block;
}

/* input checkbox btn */

.checkbox-button {
    @apply relative flex font-normal; /* mx-1 mb-2 */
    font-size: inherit;
    
    .btn {
        @apply flex items-center justify-center min-w-full;
        font-size: inherit;

        &.wrapped {
            @apply whitespace-normal;
        }

        &:hover {
            background-color: theme('colors.ampjar_primary')ba;
            border-color: theme('colors.ampjar_primary');
        }
    }

    [type=checkbox] {
        @apply absolute opacity-0;

        &:checked ~ .btn {
            @apply bg-ampjar_primary border-ampjar_primary text-white;
        }
    }

}


textarea {
    resize: vertical;
    min-height: 46px;
    @apply leading-relaxed;
}

form label,
.form-label {
    @apply block text-sm font-bold mb-2;
}

.form-inline {
    input:not([type=checkbox]),
    input:not([type=radio]),
    select,
    .btn {
        @apply rounded-none;

        &:first-child {
            @apply rounded-l;
        }
        &:last-child {
            @apply rounded-r;
        }
    }
    
    .btn {
        @apply flex items-center justify-center;
    }
}