.tooltip-container {
    @apply inline relative cursor-pointer;

    &:before {
        content: '';
        display: none;
        position: absolute;
        margin-left: -4px;
        left: 50%;
        bottom: calc(100% + theme("spacing.1"));
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 4px 0 4px;
        border-color: theme("colors.ampjar_primary") transparent transparent transparent;
    }

    &:hover,
    &:focus,
    &:active {

        &:before {
            display: block;
        }

        & + .tooltip {
            display: block;
        }
    }
    
    > img {
        @apply inline align-baseline;
    }
}

.tooltip {
    display: none;
    bottom: calc(100% + theme("spacing.1") + 4px);
    left: 0;

    @apply absolute text-xxs normal-case whitespace-normal max-w-full px-4 py-1 rounded;
}